@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('imagens/programação.jpg  ');
    background-size: cover;
    background-repeat: repeat;
}


.camada{
    background-color: black;
    background: rgba(0,0,0,0.5);
}

.desenvolvedor {
    align-items: center;
    justify-content: center;
    color: #ffffff;

}

.cabecalho{
    text-align: center;
    padding-top: 140px;
}

.nome {
    align-items: center;
    justify-content: center;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 120px;
    color: #ffffff;
}

.sub-titulo {
    align-items: center;
    justify-content: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    padding-bottom: 55px;
}

.github {
    align-items: center;
    justify-content: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #ffffff;
    padding-bottom: 10px;
}

.projetos {
    align-items: center;
    justify-content: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
}

.imagens{
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
    padding-bottom: 60px;
}

img{
    width: 300px;
    height: 200px;
    border: 5px solid rgba(0, 0, 0, 0.459);
    border-radius: 3px;
}